BR2_aarch64=y
BR2_cortex_a73_a53=y
BR2_KERNEL_HEADERS_5_15=y
BR2_ROOTFS_POST_BUILD_SCRIPT="board/chromebook/kukui/sign.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/chromebook/mksd.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="https://git.kernel.org/torvalds/t/linux-5.17-rc7.tar.gz"
BR2_LINUX_KERNEL_PATCH="board/chromebook/kukui/kukui.add-it6505.patch board/chromebook/kukui/kukui.cci-1.patch board/chromebook/kukui/kukui.cci-2.patch board/chromebook/kukui/kukui.cci-3.patch board/chromebook/kukui/kukui.cci-4.patch board/chromebook/kukui/kukui.cci-5.patch board/chromebook/kukui/kukui.cci-6.patch board/chromebook/kukui/kukui.cci-7.patch board/chromebook/kukui/kukui.cci-8.patch board/chromebook/kukui/kukui.enable-ite.patch board/chromebook/kukui/kukui.gpu.patch board/chromebook/kukui/kukui.gpu-vsram.patch board/chromebook/kukui/kukui.move-gpu-opp-to-3.patch board/chromebook/kukui/kukui.opp-multi-regulator.patch board/chromebook/kukui/kukui.panel-dts-rotation.patch board/chromebook/kukui/kukui.panel-dts-rotation_sku0.patch"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/chromebook/kukui/linux.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="mediatek/mt8183-kukui-krane-sku176"
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_PACKAGE_HOST_PARTED=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
BR2_PACKAGE_HOST_VBOOT_UTILS=y
