BR2_x86_64=y

BR2_TOOLCHAIN_BUILDROOT_VENDOR="swift"
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_KERNEL_HEADERS_4_9=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TARGET_GENERIC_HOSTNAME="swift-linux"
BR2_TARGET_GENERIC_ISSUE="Welcome to Swift Linux"
BR2_GENERATE_LOCALE="en_US"
BR2_PACKAGE_CA_CERTIFICATES=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_LIBXML2=y
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_LIBBSD=y
BR2_PACKAGE_LIBDISPATCH=y
BR2_PACKAGE_ICU=y
